@media screen and (min-width: 480px) {
    body{
        width: fit-content;
        height: auto;
    }
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: azure;
}
.pink{
    color: #EC4067;
}
.cursor{
    cursor: pointer;
}
.displayNone{
    display: none;
}
fieldset{
    margin: auto;
    padding: 15px;
    border: 8px solid rgb(236, 64, 103);
    border-radius: 25px;
    width: 90%;
    }
legend{
    background-color: white;
    color: green;
    width: fit-content;
    font-size: 20px;
    font-weight:bold;
}
.subcontainer1{
margin-top: 0%;
}
.QuizIntro{
    width: 100%;
    height: fit-content;
    padding: 20px 0;
}
.head{
    width: fit-content;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
}
.questionArea{
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    font-size: 17px;
}
.choices{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
input{
    width: 40px;
}
.navbuttons{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.nxtbut{
    padding: 8px 24px;
    background-color: rgb(236, 64, 103);
    color: white;
    border-style: 2px solid black;
    font-size: 16px;
}
.prevbut{
    padding: 8px 24px;
    color: #EC4067;
    font-weight: bold;
    background-color: white;
    border: solid 1px #EC4067;
    font-size: 16px;
}
.displaystyle{
    background-color: azure;
    font-size: larger;
    text-align: center;
}
.resultArea{
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    font-size: 30px;
}